.encabezadoPrincipal{
    background-color:lightblue;
    color: black;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.titulo-encabezado{
    font-size: 25px;
margin-left: 25px ;
}

.botones-encabezado{
    padding: 10px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.boton-login{
    margin: 5px;
    background-color: blue;
    color: black;
}

.boton-signup{
    background-color: aquamarine;
    color: black;
}